@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  --golden: #d1c62aa0;
}


@font-face{
  font-family: 'Bellefair';
  src: url('./fonts/Bellefair/Bellefair-Regular.ttf')
}

@font-face{
  font-family: 'Manrope';
  src: url('./fonts/Bellefair/Manrope/Manrope-VariableFont_wght.ttf')
}

@font-face{
  font-family: 'Playfair';
  src: url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
}
.hero{
  background-image: url('images/shipmain.jpg');
}

.publications{
  background-image: url('images/ship2.png');
}
/*** text ***/
.hero-text{
  font-family: 'Bellefair';
  font-size: 80px; 
  width: 720px;
  height:68px; 
  margin-left: 80px; 
  line-height: 100px;
  padding-top: 146px;
}

.hero-small-text{
  font-family: 'Manrope';
  color: white;
  font-size: 22px;
  line-height: 32px;
  width: 470px;
  height: 168px;
  text-align: left;
}

.pub-text{
  font-family: 'Bellefair';
  font-size: 100px; 
  width: 600px;
  height:500px; 
  margin-left: 100px;
  margin-top: 100px; 
  line-height: 120px;
  color: #D1C62A;
  
}

.list-text{
  font-family: 'Playfair';
  font-size: 25px;
  line-height: 44.51px;
  color: white;
}

.bullet{
  box-shadow: 0px 0px 0px 9px var(--golden);
  background-color: #D1C62A;
}

.scrollup .scrolldown{
  box-shadow: 0px -25px 20px -20px rgba(0,0,0,1),
  25px 0px 20px -20px rgba(0,0,0,1),
  0px 25px 20px -20px rgba(0,0,0,1),
  -25px 0px 20px -20px rgba(0,0,0,1);
}